@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div id="contenedor">
    <section id="cta">
        <header>
            <h2><strong>UAIBook</strong></h2>
            <p>Intentamos crear un sitio que intenta fomentar un ambiente cultural e intelectual propicio para desarrollar la educación y formación personal.</p>
            <p>Por este motivo trabajemos todos juntos para crear una base de conocimiento mutuo</p>
        </header>
    </section>
</div>