
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("create"))
    {
        <p>
            <label for="titulo">Titulo:</label>
            <input type="text" name="titulo" value="" maxlength="100">
        </p>
        <p>
            <input type="submit" value="Enviar">
            @Html.ActionLink("Cancelar", "Admin", null, new { @class = "button" })
        </p>
    }
</div>