
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div id="contenedor">
    <div id="contenido">
        <section id="principal">
            <article class="articulo">
                <h2>
                    Ingeniería del software: Un enfoque práctico
                </h2>
                <img src="~/Content/image/libro01.jpg">
                <p>
                    Cuando el software de computadora triunfa (al satisfacer las necesidades de las personas que lo usan, trabajar sin fallos durante largos periodos, será fácil de modificar e incluso más fácil de usar) puede y debe cambiar las cosas a fin de mejorar. Pero cuando el software fracasa (cuando sus usuarios no están satisfechos, es proclive al error, es difícil de cambiar e incluso más difícil de usar) pueden ocurrir, y ocurren, cosas malas. Todo mundo quiere construir software que haga mejor las cosas y que evite las malas que acechan en la sombra de los esfuerzos fallidos. 
                </p>
                <p>
                    <a href="#">Reservar ya!...</a>
                </p>
            </article>
            <article class="articulo">
                <h2>
                    Señales y Sistemas | 2da Edicion | Alan V. Oppenheim, A.S. Willsky
                </h2>
                <img src="~/Content/image/libro02.jpg">
                <p>
                    Alan V. Oppenheim, AS Willsky esta exploración completa de señales y sistemas desarrolla en tiempo continuo y tiempo discreto conceptos / métodos en paralelo – Poner de relieve las similitudes y diferencias – y cuenta con tratamientos de presentación de las solicitudes de estos métodos básicos en áreas como el filtrado, la comunicación, la toma de muestras, procesamiento en tiempo discreto de señales en tiempo continuo y retroalimentación.Relativamente autónomo, el texto no asume ninguna experiencia previa con el análisis del sistema, convolución, análisis de Fourier o Laplace y transformadas.
                </p>
                <p>
                    <a href="#">Reservar ya!...</a>
                </p>
            </article>
            <article class="articulo">
                <h2>
                    LA REBELION DE ATLAS (EDICION SIN CENSURA)
                </h2>
                <img src="~/Content/image/libro03.jpg">
                <p>
                    Nuestra librera Laura Puerta (Librería de Bilbao) recomienda Rebelión de Atlas: Una apasionante apuesta por la libertad. Un hombre que prometió detener el mundo y lo hizo. Suspense,pasión y profundos principios.  Soberbia, descomunal, imprescindible.
                    Entre 1933 y 1982 Ayn Rand lanzó al mundo su filosofía objetivista con una claridad de razonamiento que la convierte en una figura gigante de la filosofía. Su precisión y sencillez son singulares. Su sistema filosófico racional, basado estrictamente en la lógica y en la realidad, carece de contradicciones y resulta coherente con la naturaleza del hombre.
                </p>
                <p>
                    <a href="#">Reservar ya!...</a>
                </p>
            </article>
        </section>
    </div>
</div>
